<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <distributable/> 
    <display-name>Policy Development Server</display-name>

    <servlet>
        <servlet-name>PolicyDevServer</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.overlord.gov.dev.server.rest.RESTDevServerApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>PolicyDevServer</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
